* {
  padding: 0px;
  margin: 0px;
  width: auto;
  height: auto;
  box-sizing: box-border;

  ::-webkit-scrollbar {
    width: 10px;
    background: #d9d9d9c8;
  }

  ::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 8px;
  }
}

.contents {
  height: 100vh;
  margin: 0;
  padding: 0px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  main {
    grid-area: main;
    margin: 30px 5%;
  }
}
