@use "./Buttons.scss" as *;

.ContainerRight {
  background-color: red;
  display: flex;
}

.ContainerLeft {
  display: flex;
  background-color: yellow;
  flex-direction: row-reverse;
}

.imgText {
  background-color: rgba(9, 255, 0, 0.479);
  display: flex;
}

.divButton {
  .ButtonAdoptMe {
    @include AdoptMe;
    min-width: 160px;
    min-height: 60px;

    a {
      text-decoration: none;
      color: #ff91ab;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
