@use "./Fonts.scss" as *;

.HomeP {
  color: black;
  max-width: 70%;
  width: 100%;
  font-family: "roboto";
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin: auto;
  text-transform: initial;
}
